@font-face {
  font-family: 'Chomsky';
  src: url('./fonts/Chomsky.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Style for the entire app */
.App {
  background-color: #f0f0f0; /* Light gray background */
  color: black; /* Default black text color */
  font-family: "Lucida Console", "Courier New", monospace;
}

/* Style for the header */
.sticky-header {
  background-color: #f0f0f0; /* Same as the page background */
  text-align: center; /* Center the text */
  display: flex;
  justify-content: space-between; /* Align button to left and date to right */
  z-index: 1000;
  border-bottom: 2px solid black; /* Black underline */
}

/* New York Times-style header font */
.nyt-header {
  font-family: 'Chomsky', serif; /* Similar to New York Times font */
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  flex-grow: 1; /* Center the header while allowing space for button and date */
}

/* Date in the top-left corner */
.date {
  font-size: 14px;
  color: black;
  margin-left: 10px;
  align-self: center;
}

button {
  background: none;  /* Remove background */
  border: none;      /* Remove border */
  color: black;      /* Set text color */
  font-size: 12px; /* Adjust font size */
  cursor: pointer;   /* Change cursor to pointer on hover */
  margin-right: 10px; /* Align button to the left */
  padding: 0;        /* Remove padding */
}

button:hover {
  text-decoration: underline; /* Underline on hover */
}

/* Style for the article list */
.article-list {
  list-style-type: none;
  padding: 0px;
  margin: 30px;
  background-color: white;
}

/* Container for each article with white background and padding */
.article-container {
  display: flex;
  flex-direction: row-reverse;  /* Moves the image to the right */
  margin: 20px 0;
  padding: 20px;
  border-bottom: 1px solid black; /* Black underline */
}

/* Style for the image to be on the right */
.article-image {
  max-width: 150px;
  margin-left: 20px; /* Space between image and article text */
  border-radius: 8px;
}

/* Article details */
.article-details {
  flex: 1;
}

.article-date {
  font-size: 12px;
  color: #666;
}

.article-title {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.article-title:hover {
  text-decoration: underline;
}

.article-description {
  font-size: 12px;
  margin: 10px 0;
}

.article-byline {
  font-size: 12px;
  color: #888;
}
